body {
    font-family: sans-serif;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    padding: 0 20px 15px;
    background: #f5f5f5;
    text-align: center;
    border: 1px solid black;
}

#warning {
    color: red;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

a {
    cursor: pointer;
    color: lightslategray;
    text-decoration: none;
}

h2 {
    display: inline;
}